.KI8_Hj {
    margin: 0
}

.KI8_Hj img {
    pointer-events: none
}

.SAjgTR {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0
}

.XMj3Yh {
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0 0 10px;
    font-size: 14px;
    font-weight: 500;
    display: flex
}

.onY0p_ {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4
}

.EqZqj3 {
    color: #05a;
    margin-right: .625rem;
    -webkit-text-decoration: none;
    text-decoration: none
}

.UBe8YR {
    white-space: pre-wrap;
    color: #000c;
    text-overflow: ellipsis;
    flex-direction: column;
    gap: 1.875rem;
    font-size: .875rem;
    line-height: 1.7;
    display: flex;
    overflow: hidden
}

.ugbE4J {
    color: #08f
}

.fMYs6p {
    flex-direction: column;
    gap: .9375rem;
    display: flex
}

.jdLCnb {
    color: #212121;
    font-size: 1rem;
    font-weight: 500
}

.c0ztn1 {
    margin-bottom: 1.125rem;
    display: flex
}

.c0ztn1:last-child {
    margin-bottom: 1.25rem
}

.c0ztn1:last-child.DEqoRr {
    margin-bottom: 1.5625rem
}

.noPqBe {
    margin: inherit;
    font-weight: inherit;
    color: #0006;
    box-sizing: border-box;
    word-break: break-word;
    width: 12.5rem;
    padding-right: .75rem;
    font-size: .875rem
}

.LuZSuv {
    color: #05a
}

.LuZSuv:focus-visible {
    border-radius: 2px;
    outline: 2px solid #000;
    margin: -6px;
    padding: 6px
}

.FQBbY5 {
    text-transform: capitalize
}

.DcAXWL {
    box-sizing: border-box;
    min-height: 2.75rem;
    padding: 0 var(--ns-c, .75rem);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: 0 0;
    border: none;
    outline: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex
}

.DcAXWL .dFOMih {
    color: var(--nc-text-primary, #000000de);
    text-transform: capitalize;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    line-height: 1.25rem;
    display: flex
}

.DcAXWL.zVrjG0 .dFOMih {
    color: var(--nc-primary, #ee4d2d)
}

.DcAXWL.zVrjG0 .t_xYF9 {
    font-size: 1.125rem
}

.DcAXWL.zVrjG0 .eN5Eqq {
    color: var(--nc-primary, #ee4d2d)
}

.DcAXWL .eN5Eqq {
    color: var(--nc-text-tertiary, #0000008a);
    text-transform: capitalize;
    white-space: nowrap;
    margin-top: .125rem
}

.pLqTyF {
    width: 100%
}

.V4WOBM {
    background-color: #fff;
    width: 100%;
    display: flex;
    position: relative;
    overflow: scroll hidden
}

.V4WOBM:after {
    content: "";
    transform-origin: bottom;
    background-color: var(--nc-util-line, #00000017);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(.5)
}

.V4WOBM {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.V4WOBM::-webkit-scrollbar {
    display: none
}

.DuHJnd {
    background: var(--nc-primary, #ee4d2d);
    height: .125rem;
    transition-property: transform, width;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    position: absolute;
    bottom: 0
}

.XSUJ1b {
    padding-bottom: 1.25rem
}

.XSUJ1b button {
    align-items: unset;
    overflow: hidden
}

.XSUJ1b button div {
    text-overflow: ellipsis;
    overflow: hidden;
    display: unset !important
}

.MiuyX6 button {
    width: 100%;
    padding: 0 .9375rem
}

.MiuyX6.lIdeDa {
    width: 12.5rem
}

.MiuyX6.xFbkaL {
    width: 20%
}

.MiuyX6.m4IaeQ {
    width: 16.6667%
}

.MiuyX6.iFWlPy {
    width: 10rem
}

.MiuyX6.iFWlPy.HGM9_n {
    width: calc(16.6667% - 1.04396rem)
}

.MiuyX6.iFWlPy.HGM9_n.c6SSv3 {
    width: calc(16.6667% - 1.12583rem)
}

.MiuyX6.iFWlPy.crq9nV {
    width: calc(16.6667% - 1.27833rem)
}

.MiuyX6.iFWlPy.crq9nV.c6SSv3 {
    width: calc(16.6667% - 1.36021rem)
}

.F_ur9X button div {
    color: #ee4d2d !important
}

.sctL88 {
    color: #222;
    padding-bottom: 1.25rem;
    font-weight: 500
}

.YOiDZy {
    align-items: center;
    padding: 0 .9375rem 0 0;
    display: flex
}

.YOiDZy:hover {
    cursor: pointer
}

.l77aAe {
    text-overflow: ellipsis;
    flex-shrink: 1;
    padding-left: .9375rem;
    overflow: hidden;
    border: 0 solid #00000017 !important;
    border-left-width: .0625rem !important
}

.UHWHYf {
    color: #0000008a;
    min-width: .75rem;
    max-width: .75rem;
    padding-left: .25rem
}

.DdDeyV {
    border: .03125rem solid #00000017
}

.UE_vGZ {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 20rem;
    max-height: 26.25rem;
    display: flex;
    overflow: hidden scroll
}

.gs6TJz {
    color: #000000de;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8rem;
    padding: 1.125rem 1rem;
    font-size: 1rem;
    overflow: hidden
}

.gs6TJz:hover {
    cursor: pointer;
    color: #ee4d2d
}

.jgharn {
    border-bottom: .375rem solid #00000017;
    border-left: .375rem solid #0000;
    border-right: .375rem solid #0000;
    width: 0;
    height: 0;
    position: absolute;
    top: -.0625rem;
    right: 1.5rem
}

.ts57Wt {
    border-bottom: .375rem solid #fff;
    border-left: .375rem solid #0000;
    border-right: .375rem solid #0000;
    justify-self: right;
    width: 0;
    height: 0;
    margin-bottom: -.0625rem;
    margin-right: 1.5rem;
    position: relative
}

.Gx06M0 {
    color: #0006;
    margin-bottom: 1.125rem
}

.kI07HN {
    margin-bottom: 1.875rem
}

.ECLCon {
    white-space: pre-wrap
}

.cDKs6x {
    padding: .9375rem .9375rem 0
}

.nWDzia {
    color: #000000de;
    text-transform: capitalize;
    background: #00000005;
    margin: 0;
    padding: .875rem;
    font-size: 1.125rem;
    font-weight: 500
}

.RNeUsI {
    margin: 1.875rem .9375rem .9375rem
}

.ZxnfsU {
    padding: 1rem .75rem;
    position: relative
}

.swDgf5 {
    position: absolute;
    top: 1rem;
    left: .75rem
}

.QT7mmA {
    color: #000000de;
    height: 1rem
}

.YaKqqK {
    color: #0000008a;
    margin-top: .25rem
}

.YaKqqK ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 1.5rem
}

.QT7mmA,
.YaKqqK {
    margin-left: 2rem
}

.QqPWsG .shopee-header-section__header-link>.shopee-button-no-outline {
    color: var(--brand-primary-color, #ee4d2d) !important
}

/*# sourceMappingURL=https://sourcemap.webfe.shopeemobile.com/pcmall-productdetailspage/_/PageProductBelowTheFold.07fc0ab94b38e314.2023.css.map*/