/*!
 * Project: pcmall;
 * Module: buyernotidesktopdefault;
 * Slot: pcmall-buyernotidesktopdefault;
 * BuiltAt: 2026-08-12T02:14:47.918Z;
 * Tag: 'sw-WEBFE-MKP-2026.08.v1-1-1';
 * Branch: 'heads/sw-WEBFE-MKP-2026.08.v1-1-1';
 * Git hash: '63cff24b4fdd92f34d06cc273cfbfe2962013ecb';
 */

.stardust-popover {
    position: relative
}

.stardust-popover:focus-visible {
    border-radius: 2px;
    outline: 2px solid #000
}

.stardust-popover__popover {
    will-change: transform;
    z-index: -1;
    position: absolute
}

.stardust-popover__popover--show {
    z-index: 3;
    opacity: 1;
    animation: .2s cubic-bezier(.4, 0, .6, 1) popover-enter-animation
}

.stardust-popover__popover--border {
    border: 1px solid #00000017
}

.stardust-popover__popover--hide {
    animation: .2s cubic-bezier(.4, 0, .6, 1) popover-hide-animation
}

.stardust-popover__arrow {
    z-index: 3;
    will-change: transform;
    position: absolute
}

.stardust-popover__arrow--inner {
    width: 0;
    height: 0;
    position: absolute;
    left: -8px
}

@keyframes popover-enter-animation {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes popover-hide-animation {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    to {
        opacity: 0;
        transform: scale(0)
    }
}

.OUW8RC,
.bkYpC2 {
    align-items: center;
    display: flex
}

.OUW8RC {
    justify-content: center
}

.bkYpC2 {
    color: currentColor;
    padding: 6px 0
}

.bDIt7s {
    pointer-events: none
}

.OUW8RC {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.25rem;
    margin-right: -.9375rem;
    font-size: .75rem;
    position: relative;
    top: -.3125rem;
    left: -.75rem
}

.MylWwo {
    width: 1.125rem
}

.Mn7kVV {
    width: 1.375rem
}

.ER3o0A {
    color: var(--brand-primary-color, #ee4d2d)
}

.VckGR7 {
    color: #d0011b
}

.lEV04v {
    text-transform: capitalize;
    margin-left: .3125rem;
    font-size: .8125rem;
    font-weight: 300
}

.y_ZDvB .jLTVZj {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    position: absolute;
    inset: 0
}

.jLTVZj {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.G3N4MK {
    position: relative
}

.G3N4MK img {
    vertical-align: bottom
}

.fcbPpc {
    visibility: hidden
}

.rawIDQ {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    inset: 0
}

.BbcG2W {
    opacity: 0
}

.Qy85a_ {
    opacity: 1;
    transition: opacity .2s
}

.q4ygWH {
    transition: none
}

.G8HUEg {
    background-image: url("data:image/svg+xml,%3Csvg fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 32 32%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M21.4 23.95a4.19 4.19 0 0 1-2.64 3.4c-.83.35-1.94.54-2.82.48a9.28 9.28 0 0 1-3.84-.97 9.62 9.62 0 0 1-1.55-1.03c-.1-.1-.16-.17-.06-.32l.63-.89c.09-.14.24-.15.39-.04l.19.15a7.53 7.53 0 0 0 4.25 1.58C18 26.3 19.5 25.4 19.78 24c.3-1.54-.96-2.86-3.37-3.6-.77-.23-2.7-.98-3.05-1.19-1.68-.96-2.46-2.22-2.35-3.77.17-2.14 2.21-3.75 4.8-3.77a8.94 8.94 0 0 1 4.76 1.4c.17.13.16.27.1.37l-.54.83c-.09.13-.2.15-.36.05a7.29 7.29 0 0 0-3.92-1.18c-1.77.03-3.1 1.06-3.2 2.46-.01 1.27.98 2.2 3.08 2.9 4.34 1.36 5.99 2.96 5.67 5.46zM16.05 1.87c2.8 0 5.1 2.6 5.2 5.85H10.84c.1-3.25 2.4-5.85 5.2-5.85zm13.92 5.85h-6.75C23.05 3.42 19.9 0 16.05 0s-7 3.43-7.17 7.72H2.1a.62.62 0 0 0-.6.66l.96 20.7.01.18v.08A2.86 2.86 0 0 0 5.16 32h21.45a3.06 3.06 0 0 0 .06 0h.04a2.93 2.93 0 0 0 2.82-2.68v-.02a2.3 2.3 0 0 0 0-.15L30.6 8.36v-.03a.62.62 0 0 0-.62-.6z%27 fill=%27%23e5e4e4%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    max-width: 100%;
    height: 60px;
    max-height: 100%
}

.Ypc1iw {
    color: #000c;
    background-color: #fff;
    border-radius: .125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 21.875rem;
    display: flex;
    overflow: hidden;
    box-shadow: 0 1px 3.125rem #0003
}

.E5ekVa {
    width: 6.25rem;
    height: 6.25rem
}

.SrbP__ {
    margin: .625rem
}

/*# sourceMappingURL=https://sourcemap.webfe.shopeemobile.com/pcmall-buyernotidesktopdefault/_/pcmall-buyernotidesktopdefault-notificationsummary.5866aa00538fb11a.2023.css.map*/