/*!
 * Project: pcmall;
 * Module: voucher;
 * Slot: pcmall-pcpagevoucherdetail;
 * BuiltAt: 2026-08-12T03:40:11.263Z;
 * Tag: 'sw-WEBFE-MKP-2026.08.v1-1-1';
 * Branch: 'heads/sw-WEBFE-MKP-2026.08.v1-1-1';
 * Git hash: '63cff24b4fdd92f34d06cc273cfbfe2962013ecb';
 */

.stardust-toast {
    z-index: 1;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity .1s cubic-bezier(.4, 0, .6, 1);
    display: flex;
    position: absolute;
    inset: 0
}

.stardust-toast--hidden {
    opacity: 0;
    pointer-events: none
}

.stardust-toast__container {
    cursor: default;
    color: #fff;
    text-align: center;
    pointer-events: all;
    cursor: default;
    pointer-events: inherit;
    background-color: #000000a6;
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-family: SHPBurmese, SHPKhmer, -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex
}

.stardust-toast__icon svg {
    width: 30px;
    height: 30px;
    margin-bottom: 7px
}

.stardust-toast__text {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.phkUqb {
    z-index: 600
}

.tfryjq {
    word-break: break-word;
    max-width: 17.1875rem;
    padding: .75rem
}

.mnfHMX {
    color: #000000de
}

.gfTwZZ {
    display: flex
}

.WmSyiS {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    overflow: hidden
}

.WmSyiS:not(:first-child) {
    padding-left: .25rem
}

.AB_OyR {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 400;
    display: -webkit-box;
    overflow: hidden
}

.Fivow7 {
    font-size: 1rem;
    line-height: 1.25rem
}

.sQbCKu,
.BOCtbI {
    font-size: .875rem;
    line-height: 1rem
}

.CrR7TG {
    font-size: .75rem;
    line-height: .875rem
}

.YraL1L {
    background: #fff;
    border-radius: 3px;
    flex-direction: column;
    width: 27.5rem;
    padding: 30px;
    font-size: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 4px #00000080
}

.u7K1cX {
    color: #333;
    word-break: break-word;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4375rem
}

.SsMWf7 {
    color: #000000a6;
    word-break: break-word;
    margin: 1.3125rem 0 1.875rem;
    font-size: .875rem;
    line-height: 1.1875rem
}

.hdUply {
    justify-content: flex-end;
    display: flex
}

.hdUply .btn {
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding: .75rem .625rem;
    overflow: hidden
}

.hdUply .btn-light {
    border: 0;
    margin-right: 1.875rem
}

.rW7c_P {
    color: #000000de
}

.n5iIlI {
    display: inline
}

.m0aQfu {
    vertical-align: middle;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.kfHY7r {
    color: #fff;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: .125rem;
    justify-content: center;
    align-items: center;
    padding: .0625rem .25rem;
    font-size: .625rem;
    font-weight: 300;
    line-height: .75rem;
    display: flex
}

._68lLy {
    background: #d0021b
}

.IM5Mxp {
    background: #ee4d2d
}

.ZMUm2e {
    align-items: center;
    display: flex
}

.xHpu1l {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.75rem;
    height: .875rem
}

.yO06Q2 {
    vertical-align: top;
    display: inline-block
}

.r2kNVK {
    align-items: center;
    display: flex
}

.o8sW5d {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.75rem;
    height: .875rem
}

.DPoxdK {
    background: #00000017;
    border-radius: .25rem;
    width: 100%;
    height: .25rem;
    overflow: hidden
}

.SBL0kq {
    color: #0000008a;
    margin-top: .25rem;
    font-size: .75rem;
    line-height: .875rem
}

.SBL0kq.UGWY_d {
    margin-top: .25rem
}

.Zb8QNO {
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: .25rem;
    display: -webkit-box;
    overflow: hidden
}

.Zb8QNO.hROmSD {
    margin: 0
}

.OOhWUB {
    color: #ee4d2d
}

.EXbMmR {
    color: #0000008a
}

.E_PXTb {
    color: #ff424f
}

._RVaPD :first-letter {
    text-transform: capitalize
}

.L2FUg4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.Midnlh {
    margin: .3125rem .3125rem 0 0
}

.UHb2Kk {
    color: #ff424f;
    font-weight: 500
}

.bGssRG {
    padding-right: .3125rem
}

.kCGAUw {
    color: #ee4d2d
}

.xoJKO4 .Xe0y_5 {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    position: absolute;
    inset: 0
}

.Xe0y_5 {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.SL5AIl {
    border-radius: 1.875rem;
    width: 3.5rem;
    height: 3.5rem
}

.OQ4qW6 {
    padding: 1.3125rem
}

._k9qXi {
    padding: 1.875rem
}

.E_ZevD {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    overflow: hidden
}

.E_ZevD svg {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.G3N4MK {
    position: relative
}

.G3N4MK img {
    vertical-align: bottom
}

.fcbPpc {
    visibility: hidden
}

.rawIDQ {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    inset: 0
}

.BbcG2W {
    opacity: 0
}

.Qy85a_ {
    opacity: 1;
    transition: opacity .2s
}

.q4ygWH {
    transition: none
}

.G8HUEg {
    background-image: url("data:image/svg+xml,%3Csvg fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 32 32%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27M21.4 23.95a4.19 4.19 0 0 1-2.64 3.4c-.83.35-1.94.54-2.82.48a9.28 9.28 0 0 1-3.84-.97 9.62 9.62 0 0 1-1.55-1.03c-.1-.1-.16-.17-.06-.32l.63-.89c.09-.14.24-.15.39-.04l.19.15a7.53 7.53 0 0 0 4.25 1.58C18 26.3 19.5 25.4 19.78 24c.3-1.54-.96-2.86-3.37-3.6-.77-.23-2.7-.98-3.05-1.19-1.68-.96-2.46-2.22-2.35-3.77.17-2.14 2.21-3.75 4.8-3.77a8.94 8.94 0 0 1 4.76 1.4c.17.13.16.27.1.37l-.54.83c-.09.13-.2.15-.36.05a7.29 7.29 0 0 0-3.92-1.18c-1.77.03-3.1 1.06-3.2 2.46-.01 1.27.98 2.2 3.08 2.9 4.34 1.36 5.99 2.96 5.67 5.46zM16.05 1.87c2.8 0 5.1 2.6 5.2 5.85H10.84c.1-3.25 2.4-5.85 5.2-5.85zm13.92 5.85h-6.75C23.05 3.42 19.9 0 16.05 0s-7 3.43-7.17 7.72H2.1a.62.62 0 0 0-.6.66l.96 20.7.01.18v.08A2.86 2.86 0 0 0 5.16 32h21.45a3.06 3.06 0 0 0 .06 0h.04a2.93 2.93 0 0 0 2.82-2.68v-.02a2.3 2.3 0 0 0 0-.15L30.6 8.36v-.03a.62.62 0 0 0-.62-.6z%27 fill=%27%23e5e4e4%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    max-width: 100%;
    height: 60px;
    max-height: 100%
}

.l3AyKw {
    color: #000000de;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.6875rem;
    font-weight: 500;
    line-height: 1.25rem;
    display: -webkit-box;
    overflow: hidden
}

.O6cn7V {
    height: 1.25rem
}

.t_GXmq:not(:first-child) {
    padding-left: .25rem
}

.v6zs17 {
    color: #000000de;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    overflow: hidden
}

.mBhuHi {
    color: #000000de;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: break-word;
    -webkit-box-orient: vertical;
    max-height: 2.6875rem;
    margin-top: .3125rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    display: -webkit-box;
    overflow: hidden
}

.mBhuHi.kg_u_u {
    margin-top: 0;
    font-weight: 400
}

.wHN9sX {
    display: inline
}

.PKoIHM.i62Cj8 {
    border-radius: .125rem;
    width: 100%;
    height: 100%;
    padding: .125rem 1px .25rem;
    display: flex;
    position: relative;
    overflow: visible
}

.PKoIHM.lXXeII {
    padding: 0;
    box-shadow: .125rem .125rem .3125rem #00000012
}

.Dphahe {
    width: .3125rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.Q8MDeL {
    background: repeating-linear-gradient(var(--border-color), var(--border-color).1875rem, transparent .1875rem, transparent .625rem);
    background-size: 1px .625rem;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.Zr8vip {
    background: radial-gradient(circle at 0 .375rem, transparent 0, transparent .1875rem, var(--border-color).1875rem, var(--border-color).25rem, transparent .25rem);
    background-repeat: repeat-y;
    background-size: .25rem .625rem;
    width: .25rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.Zr8vip.lXXeII {
    background: radial-gradient(circle at 0 .375rem, transparent 0, #00000008 .1875rem, var(--border-color).1875rem, var(--border-color).25rem, transparent .25rem);
    background-repeat: repeat-y;
    background-size: .25rem .625rem
}

.hWKsBp .Zr8vip {
    background: radial-gradient(circle at 0 .375rem, #0000 0 .1875rem, #fbc9c0 .1875rem .25rem, #fff4f4 .25rem) 0 0/.25rem .625rem repeat-y
}

.hWKsBp .Zr8vip.lXXeII {
    background: radial-gradient(circle at 0 .375rem, #0000 0, #00000008 .1875rem, #fbc9c0 .1875rem .25rem, #fff4f4 .25rem) 0 0/.25rem .625rem repeat-y
}

.hWKsBp .Q8MDeL {
    background: repeating-linear-gradient(#fbc9c0, #fbc9c0 .1875rem, #0000 .1875rem .625rem) 0 0/1px .625rem
}

.ye_Wk2 .Zr8vip {
    background: radial-gradient(circle at 0 .375rem, #0000 0 .1875rem, #f8d0d3 .1875rem .25rem, #fff4f4 .25rem) 0 0/.25rem .625rem repeat-y
}

.ye_Wk2 .Zr8vip.lXXeII {
    background: radial-gradient(circle at 0 .375rem, #0000 0, #00000008 .1875rem, #f8d0d3 .1875rem .25rem, #fff4f4 .25rem) 0 0/.25rem .625rem repeat-y
}

.ye_Wk2 .Q8MDeL {
    background: repeating-linear-gradient(#f8d0d3, #f8d0d3 .1875rem, #0000 .1875rem .625rem) 0 0/1px .625rem
}

.Css7lj .Zr8vip {
    background: radial-gradient(circle at 0 .375rem, #0000 0 .1875rem, #066bc840 .1875rem .25rem, #f2f9ff .25rem) 0 0/.25rem .625rem repeat-y
}

.Css7lj .Zr8vip.lXXeII {
    background: radial-gradient(circle at 0 .375rem, #0000 0, #00000008 .1875rem, #066bc840 .1875rem .25rem, #f2f9ff .25rem) 0 0/.25rem .625rem repeat-y
}

.Css7lj .Q8MDeL {
    background: repeating-linear-gradient(#066bc840, #066bc840 .1875rem, #0000 .1875rem .625rem) 0 0/1px .625rem
}

.Hx1B44 {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: .1875rem 0 0 .1875rem;
    min-width: .3125rem;
    margin-left: 1px;
    display: flex;
    position: relative
}

.Hx1B44.hWKsBp {
    background: linear-gradient(90deg, #0000 0 .25rem, #fff4f4 .25rem);
    border-top: 1px solid #fbc9c0;
    border-bottom: 1px solid #fbc9c0
}

.Hx1B44.ye_Wk2 {
    background: linear-gradient(90deg, #0000 0 .25rem, #fff4f4 .25rem);
    border-top: 1px solid #f8d0d3;
    border-bottom: 1px solid #f8d0d3
}

.Hx1B44.Css7lj {
    background: linear-gradient(90deg, #0000 0 .25rem, #f2f9ff .25rem);
    border-top: 1px solid #066bc840;
    border-bottom: 1px solid #066bc840
}

.jCWnHI {
    width: calc(100% - .375rem);
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: .125rem 0 .1875rem .125rem #0000000d
}

.CkTdyd {
    background: repeating-linear-gradient(var(--border-color), var(--border-color).125rem, transparent .125rem .25rem);
    background-repeat: repeat-y;
    background-size: 1px .25rem;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0
}

.WXoidQ {
    border: 1px solid var(--border-color);
    background: #fff;
    border-left: 0 solid #0000;
    border-radius: 0 .125rem .125rem 0;
    min-width: 0;
    display: flex;
    position: relative
}

.WXoidQ.hWKsBp {
    background: #fff4f4;
    border: 1px solid #fbc9c0;
    border-left: 0 solid #0000
}

.WXoidQ.ye_Wk2 {
    background: #fff4f4;
    border: 1px solid #f8d0d3;
    border-left: 0 solid #0000
}

.WXoidQ.Css7lj {
    background: #f2f9ff;
    border: 1px solid #066bc840;
    border-left: 0 solid #0000
}

.tGKUDS {
    background: linear-gradient(to right, transparent 0, transparent .1875rem, var(--background-color).1875rem);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: .125rem 0 0 .125rem;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: calc(100% - .125rem);
    display: flex;
    position: relative
}

.Fz6w1S {
    width: 6.625rem
}

.w4vSSz {
    background: radial-gradient(circle at 0 .25rem, transparent 0, transparent .1875rem, var(--border-color).1875rem, var(--background-color).25rem);
    background-repeat: repeat-y;
    background-size: .25rem .625rem;
    width: .25rem;
    height: calc(100% - .4375rem);
    position: absolute;
    top: .3125rem;
    left: 0
}

.w4vSSz:before {
    content: "";
    background: var(--background-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: .125rem 0 0;
    width: 100%;
    height: .3125rem;
    position: absolute;
    top: -.3125rem
}

.w4vSSz:after {
    content: "";
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: 0 0 0 .125rem;
    width: 100%;
    height: .125rem;
    position: absolute;
    bottom: -.125rem;
    left: 0
}

.UyF3p7 {
    color: #fff;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-orient: vertical;
    max-height: 2.75rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
    display: -webkit-box;
    overflow: hidden
}

.bf184R {
    font-size: 1rem
}

.UUbBEW {
    background: linear-gradient(90deg, #0000 0 .1875rem, #fff .25rem) border-box;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px dashed #e8e8e8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: calc(100% - .125rem);
    display: flex;
    position: relative
}

.UUbBEW.kwjEia {
    filter: grayscale()
}

.UUbBEW.kwjEia .V7sNfF {
    color: #bbb
}

.mczLhl {
    width: 6.625rem
}

.wNtCdD {
    width: .25rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.wNtCdD:before {
    content: "";
    background: #fff;
    border-left: 1px solid #e8e8e8;
    width: 100%;
    height: .1875rem;
    position: absolute;
    top: 0
}

.wNtCdD:after {
    content: "";
    background: #fff;
    border-left: 1px solid #e8e8e8;
    width: 100%;
    height: .1875rem;
    position: absolute;
    bottom: 0
}

.hEsg96 {
    background: radial-gradient(circle at 0 .375rem, #0000 0 .125rem, #e8e8e8 .1875rem, #0000 .25rem, #fff .25rem) 0 0/.25rem .625rem repeat-y;
    width: .25rem;
    height: calc(100% - .375rem);
    position: absolute;
    top: .1875rem;
    left: 0
}

.hEsg96.hAklqP {
    background: radial-gradient(circle at 0 .375rem, #0000 0, #00000008 .1875rem, #e8e8e8 .1875rem .25rem, #fff .25rem) 0 0/.25rem .625rem repeat-y
}

.hEsg96:before {
    content: "";
    background: repeating-linear-gradient(#e8e8e8, #e8e8e8 .125rem, #0000 .125rem .625rem) 0 0/1px .625rem;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.ggDnAW {
    z-index: 2;
    background: 0 0;
    border-right: 1px dashed #d3d3d3;
    width: 1px;
    position: absolute;
    top: .5625rem;
    bottom: .5625rem;
    right: 0;
    transform: translate(50%)
}

.kwjEia .h66emt,
.kwjEia .V7sNfF {
    opacity: .5
}

.h66emt {
    border: 1px solid #efefef;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    overflow: hidden
}

.kX0JC4 {
    max-width: 70%;
    max-height: 70%
}

.rI5yZl {
    width: 100%;
    height: 100%
}

.V7sNfF {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    text-align: center;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    max-width: 90%;
    max-height: 1.75rem;
    margin-top: .25rem;
    padding: 0 .5rem;
    font-size: .75rem;
    line-height: .875rem;
    display: -webkit-box;
    overflow: hidden
}

.IfuhCl {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    overflow: hidden
}

.IfuhCl svg {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.UHHM4N {
    height: .125rem;
    position: relative
}

.Md8dT7 {
    position: absolute;
    bottom: 0;
    transform: translate(-50%)
}

.skxmhq {
    background: linear-gradient(90deg, #0000 0 .25rem, #fff .25rem) border-box;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px dashed #e8e8e8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: calc(100% - .125rem);
    display: flex;
    position: relative
}

.skxmhq.HcEQ5X>* {
    filter: grayscale()
}

.skxmhq.HcEQ5X>* .BU1ar_ {
    color: #bbb
}

.jcJUFs {
    width: 6.625rem
}

.JzlV4l {
    -webkit-mask-mode: match-source;
    background-color: #fafafa;
    border-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: 100%;
    display: flex;
    position: relative;
    -webkit-mask-image: radial-gradient(circle at 0 .3125rem, #0000 0 .1875rem, #000 .1875rem);
    -webkit-mask-position: 0 0;
    -webkit-mask-size: 100% .625rem;
    -webkit-mask-repeat: repeat-y
}

.JzlV4l.HcEQ5X>* {
    filter: drop-shadow(-.0625rem 0 .03125rem #e8e8e8)grayscale()
}

.JzlV4l.HcEQ5X>* .BU1ar_ {
    color: #bbb
}

.hC1TKV {
    width: .25rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.hC1TKV:before {
    content: "";
    background: #fff;
    border-left: 1px solid #e8e8e8;
    width: 100%;
    height: .1875rem;
    position: absolute;
    top: 0
}

.hC1TKV:after {
    content: "";
    background: #fff;
    border-left: 1px solid #e8e8e8;
    width: 100%;
    height: .1875rem;
    position: absolute;
    bottom: 0
}

.SoFVHU {
    background: radial-gradient(circle at 0 .375rem, #0000 0 .1875rem, #e8e8e8 .1875rem, #0000 .25rem, #fff .25rem) 0 0/.25rem .625rem repeat-y;
    width: .25rem;
    height: calc(100% - .375rem);
    position: absolute;
    top: .1875rem;
    left: 0
}

.SoFVHU.qnJeqX {
    background: radial-gradient(circle at 0 .375rem, #0000 0, #00000008 .1875rem, #e8e8e8 .1875rem .25rem, #fff .25rem) 0 0/.25rem .625rem repeat-y
}

.SoFVHU:before {
    content: "";
    background: repeating-linear-gradient(#e8e8e8, #e8e8e8 .125rem, #0000 .125rem .625rem) 0 0/1px .625rem;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.zZ8m3U {
    z-index: 2;
    background: 0 0;
    border-right: 1px dashed #d3d3d3;
    width: 1px;
    position: absolute;
    top: .5625rem;
    bottom: .5625rem;
    right: 0;
    transform: translate(50%)
}

.kvCeuP {
    border: 1px solid #efefef;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    overflow: hidden
}

.ik3B3L {
    max-width: 70%;
    max-height: 70%
}

.ik3B3L.x6v8sY,
.FIZe9E {
    background-color: #fafafa
}

.vf1Vcy {
    width: 100%;
    height: 100%
}

.BU1ar_ {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    text-align: center;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    max-width: 90%;
    max-height: 1.75rem;
    margin-top: .3125rem;
    padding: 0 .5rem;
    font-size: .75rem;
    line-height: .875rem;
    display: -webkit-box;
    overflow: hidden
}

.SqFX5v {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    overflow: hidden
}

.SqFX5v svg {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.UlEyEa {
    width: 7.5rem;
    height: 100%
}

.EOAkpN {
    box-sizing: border-box;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto .75rem;
    border: .03125rem solid #00000017;
    border-radius: 1.75rem;
    width: 3.75rem;
    height: 1rem;
    position: absolute;
    bottom: .5rem;
    box-shadow: 0 0 .375rem #0000000f
}

.HcEQ5X .vf1Vcy,
.HcEQ5X .BU1ar_ {
    opacity: .5
}

.Xzr7VB {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background: linear-gradient(to right, transparent 0, transparent .1875rem, var(--background-color).1875rem);
    border-radius: .125rem 0 0 .125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: calc(100% - .125rem);
    display: flex;
    position: relative
}

.vWt5Up {
    width: 6.625rem
}

.okovRO {
    background: radial-gradient(circle at 0 .25rem, transparent 0, transparent .1875rem, var(--border-color).1875rem, var(--background-color).25rem);
    background-repeat: repeat-y;
    background-size: .25rem .625rem;
    width: .25rem;
    height: calc(100% - .4375rem);
    position: absolute;
    top: .3125rem;
    left: 0
}

.okovRO:before {
    content: "";
    background: var(--background-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: .125rem 0 0;
    width: 100%;
    height: .375rem;
    position: absolute;
    top: -.375rem
}

.okovRO:after {
    content: "";
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: 0 0 0 .125rem;
    width: 100%;
    height: .1875rem;
    position: absolute;
    bottom: -.1875rem;
    left: 0
}

.AtOamu {
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden
}

.uY1jtN {
    filter: brightness(0)invert();
    max-width: 80%;
    max-height: 80%
}

.XqEqjk {
    width: 100%;
    height: 100%
}

.iwKi60 {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #fff;
    text-align: center;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    max-width: 90%;
    max-height: 1.75rem;
    margin-top: .3125rem;
    padding: 0 .5rem;
    font-size: .75rem;
    line-height: .875rem;
    display: -webkit-box;
    overflow: hidden
}

.Bx4eNr {
    text-transform: uppercase
}

.MPqf5v {
    border-radius: .125rem;
    display: flex;
    position: relative;
    overflow: visible
}

.QJRhiD {
    padding: 0;
    box-shadow: .125rem .125rem .3125rem #00000012
}

.UDmaFI {
    border: 1px solid var(--border-color);
    background: #fff;
    border-left: 0 solid #0000;
    border-radius: 0 .125rem .125rem 0;
    min-width: 0;
    height: calc(100% - .125rem);
    display: flex;
    position: relative
}

.UDmaFI.wMilHC>* {
    opacity: .5
}

.zE_jGk {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px dashed var(--border-color);
    background: linear-gradient(90deg, #0000 0 .25rem, #fff .25rem) border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: calc(100% - .125rem);
    display: flex;
    position: relative
}

.zE_jGk.bXLpI2 .T27Inm {
    color: #0f0f0f
}

.tvXsAn {
    width: 6.625rem
}

.m0sjNu {
    width: .25rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.m0sjNu:before {
    content: "";
    border-left: 1px solid var(--border-color);
    background: #fff;
    width: 100%;
    height: .1875rem;
    position: absolute;
    top: 0
}

.m0sjNu:after {
    content: "";
    border-left: 1px solid var(--border-color);
    background: #fff;
    width: 100%;
    height: .1875rem;
    position: absolute;
    bottom: 0
}

.MSttqO {
    background: radial-gradient(circle at 0 .375rem, transparent 0, transparent .1875rem, var(--border-color).1875rem, var(--border-color).25rem, white .25rem);
    background-repeat: repeat-y;
    background-size: .25rem .625rem;
    width: .25rem;
    height: calc(100% - .375rem);
    position: absolute;
    top: .1875rem;
    left: 0
}

.MSttqO.dMca_B {
    background: radial-gradient(circle at 0 .375rem, transparent 0, #00000008 .1875rem, var(--border-color).1875rem, var(--border-color).25rem, white .25rem);
    background-repeat: repeat-y;
    background-size: .25rem .625rem
}

.MSttqO:before {
    content: "";
    background: repeating-linear-gradient(var(--border-color), var(--border-color).125rem, transparent .125rem, transparent .625rem);
    background-size: 1px .625rem;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.oghc3H {
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    overflow: hidden
}

.jqVi_d {
    max-width: 70%;
    max-height: 70%
}

.IBtfDO {
    width: 100%;
    height: 100%
}

.T27Inm {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    text-align: center;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    max-width: 90%;
    max-height: 1.75rem;
    margin-top: .3125rem;
    padding: 0 .5rem;
    font-size: .75rem;
    line-height: .875rem;
    display: -webkit-box;
    overflow: hidden
}

.bXLpI2 .IBtfDO,
.bXLpI2 .T27Inm {
    opacity: .5
}

.Ndy43A {
    text-transform: uppercase
}

.UHfted {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #000000de;
    -webkit-box-orient: vertical;
    font-weight: 500;
    line-height: 1.25rem;
    display: -webkit-box;
    overflow: hidden
}

.fPc5Nx:not(:first-child) {
    padding-left: .25rem
}

.tEvr9K {
    height: 1.25rem
}

.pgHVGY {
    box-sizing: border-box;
    color: #ee4d2d;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #ee4d2d;
    border-radius: .125rem;
    max-width: 100%;
    padding: .0625rem .25rem;
    overflow: hidden
}

.KudeIb {
    text-overflow: ellipsis;
    align-items: center;
    font-size: .75rem;
    line-height: .875rem;
    overflow: hidden
}

.k6H_z_ {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    max-width: 100%;
    margin-top: .3125rem;
    display: flex;
    overflow: hidden
}

.k6H_z_>div:first-of-type {
    flex: none;
    max-width: 80%;
    margin-right: .3125rem
}

.k6H_z_>div:only-child {
    max-width: 100%
}

.k6H_z_.X7c8rP {
    margin-top: 0
}

.k6H_z_.eg2UdD {
    flex-wrap: wrap;
    max-height: 2.5rem;
    position: relative
}

.k6H_z_.eg2UdD>div {
    flex: 0 auto;
    max-width: 100%;
    margin: 0 .25rem .25rem 0
}

.yFKgvW {
    color: #ee4d2d;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid #ee4d2d;
    border-radius: .125rem;
    flex: 0 auto;
    align-self: flex-start;
    max-width: 100%;
    margin-right: .125rem;
    padding: 1px .25rem;
    font-size: .75rem;
    line-height: .875rem;
    display: flex;
    overflow: hidden
}

.yFKgvW:first-child {
    flex: none;
    max-width: 80%
}

.yFKgvW:only-child {
    max-width: 100%
}

.yFKgvW:last-child {
    margin-right: 0
}

.ys3svN {
    color: #d0011b;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid #d0011b;
    border-radius: .125rem;
    flex: 0 auto;
    align-self: flex-start;
    max-width: 100%;
    margin-right: .125rem;
    padding: 1px .25rem;
    font-size: .75rem;
    line-height: .875rem;
    display: flex;
    overflow: hidden
}

.OJTXqT {
    text-overflow: ellipsis;
    flex: 0 auto;
    overflow: hidden
}

.I0ycxm {
    display: flex
}

.uKmWNu {
    animation: 2s linear infinite rotation
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

.GP5DT4 {
    color: #ee4d2d;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: flex
}

.DsJzTx {
    white-space: nowrap;
    z-index: 2;
    width: 3.4375rem;
    height: 1.75rem;
    padding: 0 .5625rem
}

.DsJzTx.btn-solid-primary.btn-solid-primary--disabled {
    color: #00000042;
    background: #00000017 !important
}

.DsJzTx._5hAP0Q {
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    background: 0 0 !important
}

.DsJzTx._5hAP0Q.yzTJOp {
    font-size: .6875rem
}

.knBaM1 {
    color: #fff
}

.ztPy3C {
    align-items: center;
    height: 100%;
    display: flex;
    position: relative
}

.eapO89 {
    width: var(--add-icon-animation-width, 1.25rem);
    height: var(--add-icon-animation-height, 1.25rem);
    margin-left: .25rem
}

.if6JtM {
    top: calc(50% - var(--add-animation-height, 2rem)/2);
    width: 100%;
    height: var(--add-animation-height, 2rem);
    font-size: var(--add-icon-font-size, 1.25rem);
    z-index: 2;
    position: absolute
}

.yRQ10e {
    animation-name: sJCejn;
    animation-duration: .9s;
    animation-timing-function: ease-in-out
}

@keyframes sJCejn {
    0% {
        top: calc(50% - var(--add-animation-height, 2rem)/2)
    }
    28% {
        top: var(--add-animation-to-top, .5rem)
    }
    72% {
        top: var(--add-animation-to-top, .5rem);
        opacity: 1
    }
    to {
        top: var(--add-animation-to-top, .5rem);
        opacity: 0
    }
}

.FdHzUu {
    z-index: 600
}

.wdOcIc {
    word-break: break-word;
    max-width: 17.1875rem;
    padding: .75rem
}

.kUsDDt {
    align-items: center;
    height: 100%;
    display: flex
}

.w_leqH {
    color: #ee4d2d;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #ee4d2d;
    width: 4rem;
    height: 1.75rem
}

.w_leqH--disabled {
    cursor: not-allowed;
    color: #00000042;
    border-color: #00000042
}

.BBro4B {
    width: 100%;
    min-width: 0
}

.LsjIy2 {
    flex: 1;
    min-width: 0;
    max-width: 100%;
    padding: 0 1.25rem
}

.LsjIy2._CfQKb {
    background: #0046ab
}

.x9u2Wj {
    flex-direction: column;
    justify-content: center;
    display: flex
}

.szA4nC {
    margin-top: .3125rem
}

.i81PG2 {
    background: linear-gradient(90deg, #0000 0 .25rem, #ee4d2d .1875rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.375rem;
    height: 100%;
    display: flex;
    position: relative
}

.i81PG2.PTmN8E {
    filter: grayscale();
    background: linear-gradient(90deg, #0000 0 .25rem, #bdbdbd .1875rem)
}

.i81PG2 .I74Jxd {
    background: radial-gradient(circle at 0 .25rem, #0000 0 .1875rem, #ee4d2d .1875rem) 0 0/.25rem .625rem repeat-y;
    width: .25rem;
    height: calc(100% - .4375rem);
    position: absolute;
    top: .3125rem;
    left: 0
}

.i81PG2 .I74Jxd.PTmN8E {
    background: radial-gradient(circle at 0 .25rem, #0000 0 .1875rem, #bdbdbd .1875rem) 0 0/.25rem .625rem repeat-y
}

.i81PG2 .I74Jxd:before {
    content: "";
    background: #ee4d2d;
    border-radius: .125rem 0 0;
    width: 100%;
    height: .3125rem;
    position: absolute;
    top: -.3125rem
}

.i81PG2 .I74Jxd:after {
    content: "";
    background: #ee4d2d;
    border-radius: 0 0 0 .125rem;
    width: 100%;
    height: .125rem;
    position: absolute;
    bottom: -.125rem;
    left: 0
}

.i81PG2 .I74Jxd.PTmN8E:before,
.i81PG2 .I74Jxd.PTmN8E:after {
    background: #bdbdbd
}

.BcN1El {
    background: linear-gradient(90deg, #0000 0 .25rem, #26aa99 .1875rem)
}

.BcN1El.PTmN8E {
    filter: grayscale();
    background: linear-gradient(90deg, #0000 0 .25rem, #bdbdbd .1875rem)
}

.BcN1El .I74Jxd {
    background: radial-gradient(circle at 0 .25rem, #0000 0 .1875rem, #26aa99 .1875rem) 0 0/.25rem .625rem repeat-y;
    width: .25rem;
    height: calc(100% - .4375rem);
    position: absolute;
    top: .3125rem;
    left: 0
}

.BcN1El .I74Jxd.PTmN8E {
    background: radial-gradient(circle at 0 .25rem, #0000 0 .1875rem, #bdbdbd .1875rem) 0 0/.25rem .625rem repeat-y
}

.BcN1El .I74Jxd:before {
    content: "";
    background: #26aa99;
    border-radius: .125rem 0 0;
    width: 100%;
    height: .3125rem;
    position: absolute;
    top: -.3125rem
}

.BcN1El .I74Jxd:after {
    content: "";
    background: #26aa99;
    border-radius: 0 0 0 .125rem;
    width: 100%;
    height: .125rem;
    position: absolute;
    bottom: -.125rem;
    left: 0
}

.BcN1El .I74Jxd.PTmN8E:before,
.BcN1El .I74Jxd.PTmN8E:after {
    background: #bdbdbd
}

.tg75p3 {
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden
}

.v2_h5i {
    filter: brightness(0)invert();
    max-width: 80%;
    max-height: 80%
}

.hHC75_ {
    width: 100%;
    height: 100%
}

.nZlhd_ {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #fff;
    text-align: center;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    max-width: 90%;
    max-height: 1.75rem;
    margin-top: .3125rem;
    padding: 0 .5rem;
    font-size: .75rem;
    line-height: .875rem;
    display: -webkit-box;
    overflow: hidden
}

.GV5hAY {
    text-transform: uppercase
}

.HDcHVY {
    height: 100%;
    position: relative
}

.g_0AKS {
    height: 100%
}

.iBaege {
    position: relative
}

.iBaege>a {
    color: inherit
}

.hOvNin {
    flex: 1
}

.e4YBvP {
    color: #fff;
    background: #fb0;
    border-radius: .125rem .125rem .125rem 0;
    padding: .125rem .3125rem;
    font-size: .75rem;
    line-height: .875rem;
    display: flex;
    position: absolute;
    top: .25rem;
    left: -.3125rem
}

.e4YBvP:after {
    content: "";
    border: .25rem solid #0000;
    border-left-color: #dfa400;
    width: 0;
    height: 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 1px;
    transform: rotate(-45deg)translate(50%, -50%)
}

.E5AXFT {
    font-weight: 700
}

.GS23z9 {
    background: #999
}

.GS23z9:after {
    border-left-color: #757575
}

.J_6KAB:hover {
    cursor: pointer
}

.iga9C5 {
    background: #fef7e7
}

.SeHFry {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
    padding: 1.125rem 1.25rem .625rem 0;
    position: relative;
    overflow: hidden
}

.h7ygws {
    color: #ee4d2d;
    cursor: pointer;
    border: 0;
    margin-right: .75rem;
    padding: 0;
    font-size: .875rem;
    position: relative
}

.h7ygws:after {
    content: "";
    border: 1px solid #ee4d2d;
    border-width: 0 1px 1px 0;
    width: 0;
    height: 0%;
    margin-left: .3125rem;
    padding: 2.5px;
    position: absolute;
    bottom: .3125rem;
    transform: rotate(-45deg)
}

.KuWFRV {
    color: #fff;
    border-radius: .125rem .125rem .125rem 0;
    padding: .125rem .25rem;
    font-size: .625rem;
    line-height: .75rem;
    display: flex;
    position: absolute
}

.lpoKWY {
    top: .3125rem;
    left: -.1875rem
}

.lAyNQI {
    top: -.3125rem;
    left: -.1875rem
}

.KuWFRV:after {
    content: "";
    border: .1875rem solid #0000;
    width: 0;
    height: 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 1px;
    transform: rotate(-45deg)translate(50%, -50%)
}

.Jvhywi {
    background: #999
}

.Jvhywi.KuWFRV:after {
    border-left: .1875rem solid #757575
}

.IwXwOv {
    background: #fb0
}

.IwXwOv.KuWFRV:after {
    border-left: .1875rem solid #dfa400
}

.dFT0jU {
    width: 100%;
    min-width: 0
}

.sfv5MJ {
    flex: 1;
    min-width: 0;
    max-width: 100%;
    padding: 0 .75rem
}

.McMt3i {
    flex-direction: column;
    justify-content: center;
    display: flex
}

.wsq44S {
    margin-top: .3125rem
}

.ctxiLa {
    color: #508be3
}

.X43Kaf {
    cursor: pointer
}

.IW2J3a {
    text-transform: capitalize
}

.r2jXl1>a {
    color: #508be3;
    font-size: .75rem;
    font-weight: 500
}

.r2jXl1 {
    justify-self: flex-end
}

.h48w_N {
    width: 100%;
    min-width: 0
}

.h48w_N.gZQiKC {
    background: #fef7e7
}

.oqxshC {
    flex-direction: column;
    justify-content: space-between;
    display: flex
}

.rc_ZXS {
    justify-content: flex-end
}

.YdcDQm {
    color: #ee4d2d;
    border: 0;
    margin-right: .75rem;
    padding: 0;
    font-size: .875rem;
    position: relative
}

.YdcDQm+.KxrCwy {
    justify-self: auto
}

.YdcDQm {
    cursor: pointer
}

.YdcDQm:after {
    transform-origin: 0%;
    content: "";
    border: 1px solid #ee4d2d;
    border-width: 0 1px 1px 0;
    margin-left: .3125rem;
    padding: .2125rem;
    display: block;
    position: absolute;
    bottom: .0625rem;
    right: -.625rem;
    transform: rotate(-45deg)
}

.YdcDQm._vKzQO:after {
    border-width: 0 1px 1px 0
}

a {
    cursor: pointer
}

.TgAS6M {
    align-items: flex-end
}

.EHAsxR {
    color: #979797
}

.E_qQcw {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
    padding: .75rem .75rem .75rem 0;
    position: relative;
    overflow: hidden
}

.NCRGHq {
    height: 100%;
    position: relative
}

.MyOiwI {
    height: 100%
}

.QoMgq1 {
    position: relative
}

.QoMgq1>a {
    color: inherit
}

.nuAvDP {
    color: #fff;
    background: #fb0;
    border-radius: .125rem .125rem .125rem 0;
    padding: .125rem .3125rem;
    font-size: .75rem;
    line-height: .875rem;
    display: flex;
    position: absolute;
    top: .25rem;
    left: -.3125rem
}

.nuAvDP:after {
    content: "";
    border: .25rem solid #0000;
    border-left-color: #dfa400;
    width: 0;
    height: 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 1px;
    transform: rotate(-45deg)translate(50%, -50%)
}

.mE6qlX {
    font-weight: 700
}

.AlJwH1 {
    background: #999
}

.AlJwH1:after {
    border-left-color: #757575
}

.hYPixf:hover {
    cursor: pointer
}

.I9x2U8 {
    background: #fef7e7
}

.izVlch {
    z-index: 1;
    color: #ee4d2d;
    background-color: #ffeaea;
    border-radius: 10px 2px 0 10px;
    justify-content: center;
    align-items: center;
    width: 2.3125rem;
    height: 1.125rem;
    font-size: .75rem;
    font-weight: 500;
    display: flex;
    position: absolute;
    top: .25rem;
    right: -.25rem
}

.AAdLUm {
    margin-right: .0625rem
}

.izVlch:after {
    content: "";
    z-index: 0;
    border: .1875rem solid #0000;
    border-bottom-color: #ff9a86;
    width: 0;
    height: 0;
    position: absolute;
    top: calc(100% + 1px);
    right: 1px;
    transform: rotate(-45deg)translate(50%, -50%)
}

._0c43wB {
    text-transform: capitalize;
    vertical-align: middle;
    border-radius: .125rem;
    height: 1rem;
    margin-right: .25rem;
    padding: 0 .25rem;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1rem;
    display: inline-flex
}

.VEigio {
    color: #fff;
    background-color: #ffbf00
}

.gFAlz1 {
    color: #fff;
    background-color: #ee4d2d
}

.E61eol {
    color: #fff;
    background-color: #ff424f
}

/*# sourceMappingURL=https://sourcemap.webfe.shopeemobile.com/pcmall-voucher/_/915.66436c69da58c30a.2023.css.map*/